# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
env/
venv/
ENV/

# Data files
data/*.csv
data/*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.tar
*.bak

# Logs
*.log
